# VS Code settings
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Folders configuration files
.idea/

apolo_11/src/cycle_number.txt

# Hypothesis test database
.hypothesis/

# Coverage reports
.coverage
htmlcov/

# Generated reports and results
apolo_11/results/
